@model IEnumerable<WeatherForecast.Models.WeatherLocationViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeatherStateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WeatherStateName)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="@item.WeatherStateName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicableDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinTemp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTemp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentTemp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WindSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity)
                </td>
            </tr>
        }
    </tbody>
</table>
